::-webkit-scrollbar {
  display: none;
}

body {
  height: 100vh;
}

/* SIDEBAR */

.sidebar__toggle {
  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.sidebar__lock {
  background-image: url("../img/ic-unlock.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.sidebar__chats-item {
  -webkit-user-drag: none;
}

.sidebar__chats-item.active  * {
  color: #fff !important;
}

.sidebar__chats-item.active .badge {
  color: #000 !important;
}

/* CHAT */

.chat__title-text {
  max-width: 350px;
}

.chat__subtitle-text {
  max-width: 350px;
}

.chat__type {
  width: 24px;
  height: 24px;
}

/* MODAL */

.menu__saved-messages {
  padding: 10px;
  width: 30px;
  height: 30px;
  background-color: lightgray;
  background-image: url("../img/ic-saved-messages.svg");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
}

.menu__collapse {
  background-image: url("../img/ic-arrow-up.svg");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
}

/* MAIN */

.main.show {
  display: flex !important; 
}

.main__details-btn {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
}

.main__header,
.main__bottom {
  z-index: 10;
}

.main__details-btn--search {
  background-image: url("../img/icon-search.svg");
}

.main__details-btn--sidebar {
  background-image: url("../img/icon-sidebar-toggle.svg");
}

.main__details-btn--more {
  background-image: url("../img/icon-more.svg");
}

.main__details-btn--attach {
  background-image: url("../img/icon-attach.svg");
}

.main__details-btn--sticker {
  background-image: url("../img/icon-smile.svg");
}

.main__details-btn--voice {
  background-image: url("../img/icon-send.svg");
}

.main__details-btn--voice-chat {
  background-image: url('../img/icon-voice-chat.svg');
}

.main__details-btn--attach::-webkit-file-upload-button {
  visibility: hidden;
}

.main__bottom {
  bottom: 0;
}

.main__bottom-field {
  resize: none;
  height: 38px !important;
}

.main__bottom-field:focus {
  box-shadow: initial;
}

.main__bottom-field:placeholder-shown ~ .main__details-btn--voice {
  background-image: url('../img/icon-voice.svg');
}

.main__title {
  max-width: 410px;
}

/* MESSAGES */

.messages {
  flex-grow: 1;
  overflow-y: auto;
  background-image: url("../img/bg-chat.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.message {
  max-width: 70%;
}

.message__content {
  position: relative;
  flex-grow: 1;
}

.message--you {
  align-self: flex-start;
}

.message--you .message__content::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -14px;
  width: 20px;
  height: 18px;
  background-image: url("../img/icon-tail.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.message__author {
  font-weight: 500;
}

.messages__badge {
  font-weight: 400;
  font-size: 15px;
  background-color: #6d8d4166;
}

.message__time {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 4px;
  font-size: 12px;
}

.message__reply {
  padding-left: 10px;
  border-left: 2px solid #000;
  cursor: pointer;
}

.message__reply-title {
  font-size: 14px;
}

.message__reply-text {
  font-size: 14px;
  line-height: 14px;
}

.message--me {
  min-width: 200px;
  align-self: flex-end;
}

.message--me .message__content {
  background-color: #eeffde;
}

.message__photo {
  object-fit: cover;
}

.message__text--bold {
  font-weight: 600;
}


/* MEDIA */

@media screen and (max-width: 1200px) {
  .main-wrapper {
    flex-grow: 1;
    max-width: initial;
  }
}